*
{
    margin: 0;
}
body
{
    background-color: darkgray;
}
img
{
    width: 60rem;
}
header
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray; height: 3rem; padding: 1rem;
    width: 100%;
}
footer
{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
    background-color: dimgray; height: 3rem; padding: 1rem;
}
section
{
    margin: 1rem;
}
.sticky
{
    position: fixed
}
.content
{
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background-color: gray;
    vertical-align: left;
    padding-left: 3rem;
    padding-top: 6rem;
    padding-bottom: 1rem;
    margin-left: 12rem;
    margin-right: 12rem;
    line-height: 2;
}
.sidebarLeft
{
    font-family: Arial, Helvetica, sans-serif;
    width: 7em;
    float: left;
    font-size: 20px;
    margin-top: 6rem;
    padding: 1rem;
}
.dimGrayBG
{
    background-color: dimgray;
}
.whiteItem
{
    color: whitesmoke;
}
.whiteItem2
{
    color: whitesmoke; line-height: 2;
}
.centerText
{
    text-align: center;
}
.leftText
{
    text-align: left;
}
.bread
{
    width: 60rem;
    color: whitesmoke;
    font-size: 18px;
}
.lineHeight3
{
    line-height: 3;
}